/* zerar espaços e deixar tudo encaixado */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* variáveis */
  --ff-heading: 'Epilogue', sans-serif; /* font-family(ff) */
  --ff-texting: 'Open sans', sans-serif;
  --hue: 250; /* primeira propriedade do hsl */
  --bg-primary: hsl(var(--hue) 22% 20%); /* background(bg) */
  --fc-primary: hsl(var(--hue) 0% 100%); /* font-color(fc) */
  --fc-secondary: hsl(var(--hue) 50% 80%);
  --fc-secondary-dark: hsl(var(--hue) 100% 11%);

  font-size: 62.5%; /* deixar a medida rem em 10px */

  --fs-body: 1.6rem; /* font-size(fs) */ 
  --fs-heading: 4rem;
}

body{
  font-family: var(--ff-texting);
  background-color: var(--bg-primary);
  color: var(--fc-primary);
  font-size: var(--fs-body);
}

.page{ /* encapsula os elementos header, main e footer */ 
  max-width: 33rem; /* limita a 330px a largura do conteúdo */
  margin: 0 auto; /* centraliza o conteúdo */
}

@media(min-width: 700px){
  :root{
    --fs-heading:5.6rem;
  }

  .page{
    max-width: 117rem;
    padding: 0 5rem;
  }
}

header{
  margin: 10rem 0 8rem;
  font-family: var(--ff-heading);
  text-align: center;
  animation: topdown 700ms;
}

header p{
  margin-top: 10rem;
  color: var(--fc-secondary);
  text-transform: uppercase;
  line-height: 3.2rem;
  letter-spacing: 3px;
  font-weight: 400;
  margin-bottom: 1.7rem;
}

header h1{
  font-weight: 800;
  font-size: var(--fs-heading);
  line-height: 4.8rem;
}

main{
  display: grid; /* nao alterou visualmente nada sozinho, liberou gap */
  gap: 3.2rem;
  animation: downtop 700ms 350ms backwards; /* por conta do delay (350ms) precisa do forwards/backwards senão pisca */
}

.card{
  position: relative; /* prende o position absolute dos elementos deixando o h2 e span só dentro da area da imagem */
  font-family: var(--ff-heading);
}

.card img{
  width: 100%; /* largura se altera com tamanho da pagina */
  height: 41.6rem;
  object-fit: cover; /* a img mantém a largura e só aparece o trecho do tamanho do card */
  border-radius: 0.6rem;
  transition: all 200ms; /* suaviza a animação da scale */
}

.card img:hover{
  transform: scale(1.1); /* aumenta o tamanho */
  opacity: 0.4; /* deixa transparente onde 1 visível/ 0 invisível */
}

.card h2{
  /* deixa os elementos em cima da imagem */
  position: absolute;
  bottom: 5.1rem;
  left: 2.8rem;
  font-size: 4rem;
  font-weight: 800;

  /* alinha o h2/span e da um espaço entre eles */
  display: flex;
  flex-direction: column;
  gap: 2.8rem;
}

.card h2 span{
  border-radius: 1.9rem;
  background-color: var(--fc-primary);
  font-size: var(--fs-body);
  font-weight: 400;
  color: var(--fc-secondary-dark);
  padding: 0 1.6rem;
  height: 3.8rem; 
  display: inline-flex;
  align-items: center;
  width: fit-content;
}


/* main{ avançado e menor o código
  animation: downtop 700ms 350ms reverse backwards;
} */


/* header{
  animation-name: topdown; nome da animação definida no @keyframes
  animation-duration: 700ms; duração da animação
  animation-fill-mode: forwards; faz a animação nao voltar ao ponto inicial
  animation-direction: reverse; inverte a ordem da animação
  animation-delay: 200ms;  inicia no estado original e dispara depois desse tempo
  animation-timing-function: ease;
  animation-iteration-count: infinite; repete a animação
  animation-play-state: paused; inicia pausado a animação
} 
header:hover{
  animation-play-state: running; inicia a animação ao passar o mouse
} */

@keyframes topdown{
  /* quando termina a animação ele volta ao ponto inicial */
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* @keyframes downtop{ avançado e menor o código
  100%{
    opacity: 0;
    transform: translateY(15px);
  }
} */

@keyframes downtop{
  0%{
    opacity: 0;
    transform: translateY(15px);
  }
  
  100%{
    opacity: 1;
    transform: translateY(0);
  }
}